.logo{
	margin-top: 0.5%;
	margin-left: 0.7%;
}
ul{
	list-style-type: none;
	margin-top: 5%;
}
ul li{
	display: block;
	font-size: 25px;
	font-weight: bold;
	font-family: Footlight MT Light;
	line-height: 3.3em;
	text-align: left;
	margin-top: 2%;
}
ul li a{
	text-decoration: none;
	color: black;
	padding: 5px 20px;
}
ul li a:hover{
	color: white;
	border-bottom:ghostwhite 10px solid;
	font-weight: bold;
	
}
.container{
	
	
	border-top-left-radius: 5%;
	border-bottom-left-radius: 5%;
	border-left: #056E66 7px solid;
	border-collapse: collapse;
	background-color: #31ABA2;
	margin-right: 75%;
	margin-top: 0%;

}
.box1{
	background-color: ghostwhite;
	border-top: #056E66 7px solid;
	border-bottom: #056E66 7px solid;
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;
	margin-top: 0.5%;
	display: flex;
	text-align: center;
	line-height: 3em;
	justify-content: safe flex-start;
	border-top-left-radius: 3%;
	border-bottom-left-radius: 3%;
	border-collapse: collapse;
}
.s{
	padding-right: 24%;
}
.h{
	padding-right: 20%;
}
.home{
	color: #056E66;
	background-color: ghostwhite;
	border:ghostwhite 5px solid;
	border-right: none;
	font-weight: bold;
	border-top-left-radius: 20%;
	border-bottom-left-radius: 20%;
	padding-right: 63%;
	padding-top: 7%;
	padding-bottom: 7%;
	pointer-events: none;
}
.exit{
	float: right;
	font-size: 32px;
	font-weight: bold;
	font-family: Gabriola;
	text-decoration: none;
	color:#04877D;
	margin-right: 10%;
	margin-top: 2%;

}
.exit:hover{
	
	color: black;
	
	font-weight: bold;	
}


label{ 	
 	font-family: Gabriola;
	font-size: 24px;
	font-weight: bolder;
}
fieldset{
	float: left;
	border:10px solid #056E66;
	box-sizing: content-box;
	margin-left: -70%;
	width: 65%;
	margin-bottom: 2.3%;
	border-radius: 6%;
}
h2{
	font-family: Gabriola;
	font-size: 40px;
	font-weight: bolder;
	color: #056E66;	
}
legend{
	 margin-right: auto;
	 margin-left: 10%;
}
input{
	text-align: center;
	font-family: Gabriola;
	font-size: 24px;
	font-weight: bolder;
	padding: 0.3%;
	border: #056E66 4px solid;
	width: 60%;
	background-color: #31ABA2;
	color: ghostwhite;
	/*#5E1954;*/
}

input:hover{
	background-color: transparent;
  color: black;
  border: #056E66 5px solid;
 }
 
.reg{
	text-align:center;
	display: inline-block;
	cursor: pointer;	
	margin-top: 0%;
	margin-left: 2%;
	width: 25%;
	border: #056E66 5px solid;
	background-color: #056E66;
	color:ghostwhite;
	font-family: Gabriola;
	font-size: 28px;
	font-weight: bolder;
	border-radius: 25px;
	margin-bottom: 2.8%;
}
.reg:hover {
	background-color: transparent;
	color: #31ABA2;	
	box-shadow: 0 2px #056E66;
	border: #056E66 5px solid;
	font-weight: bolder;

}

.reg:active {
  background-color: #043A36;
  box-shadow: 0 3px #056E66;
  transform: translateY(3px);
}
.box2{
	box-sizing: content-box;
	width: 60%;
	margin-top: 0%;
	margin-left: -5%;
}
.box3{
	box-sizing: content-box;
	width: 60%;
	margin-top: -67%;
	margin-left: 45%;
}